*{
  margin:0;
  padding:0;
}
ul,li{
  list-style:none;
}
#slide{
  height:590px;
  position:relative;
  overflow:hidden;
}
#slide ul{
  width:400%;
  height:100%;
  transition:1s;
}
#slide ul:after{
  content:"";
  display:block;
  clear:both;
}
#slide li{
  float:left;
  width:25%;
  height:100%;
}
#slide li:nth-child(1){
  background: url(/연습용/img/공부사진.png) no-repeat center rgb(240, 237, 237);
}
#slide li:nth-child(2){
  background: url(/연습용/img/공부사진2.png) no-repeat center rgb(234, 234, 238);
}
#slide li:nth-child(3){
  background: url(/연습용/img/공부사진3.png) no-repeat center rgb(238, 238, 243);
}
#slide li:nth-child(4){
  background: url(/연습용/img/공부사진4.png) no-repeat center rgb(236, 232, 232);
}
#slide input{
  display:none;
}
#slide label{
  display:inline-block;
  vertical-align:middle;
  width:90px;
  height:12px;
  border:2px solid #666;
  background:#fff;
  transition:0.3s;
  border-radius:10%;
  cursor:pointer;
}
#slide .pos{
  text-align:center;
  position:absolute;
  bottom:10px;left:0;
  width:100%;
  text-align:center;}
#pos1:checked~ul{margin-left:0%;}
#pos2:checked~ul{margin-left:-100%;}
#pos3:checked~ul{margin-left:-200%;}
#pos4:checked~ul{margin-left:-300%;}
#pos1:checked~.pos>label:nth-child(1){background:#666;}
#pos2:checked~.pos>label:nth-child(2){background:#666;}
#pos3:checked~.pos>label:nth-child(3){background:#666;}
#pos4:checked~.pos>label:nth-child(4){background:#666;}

img{
  height: 100%;
  width: 100%;
  /* object-fit: contain; */
}