* {margin: 0; padding: 0;}  
body {
    width: 100%; 
    height: 100vh; 
    background: linear-gradient(134deg, #71b7e6, #9b59b6);
}




form{
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 80%;
    position: absolute;
    left: 25%;
    top: 10%;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
}

caption{
    padding: 10px;
    color: #000000;
    position: absolute;
    top: 5%;
    left: 38%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}


p{
    color: red;
}
.col1 {
    background-color: #e8e8e8;
    padding: 10px;
    border: 2px solid black;
    text-align: right;
    font-weight: bold;
    font-size: 0.8em;
}
.col2 {
    text-align: left;
    padding: 20px;
    border: 2px solid black;
}

    .but1 {
    color: white;
    background-color: black;
    border-color: black;
    }
    
    .but2 {
    color: white;
    background-color: black;
    border-color: black;
    }
    
#btn3{
    width: 50%;
    position: absolute;
    top: 85%;
    left: 25%;
    color: #e8e8e8;
    background-color: rgb(156, 17, 236);
    padding: 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    
}
.but1:hover {
    transition:all .4s ease;
    background-color:rgba(196, 15, 15, 0.7);
    }
    
    .but2:hover {
    transition:all .4s ease;
    background-color:rgba(196, 15, 15, 0.7);
    }
    
    #btn3:hover {
    transition:all .4s ease;
    background-color:rgba(182, 5, 158, 0.7);
    }

    @media (max-width: 800px){
        body{
            background: linear-gradient(134deg, #71b7e6, #9b59b6);
        }
        form{
            left: 0px;
            max-width: 100%;
            height: 80%;
        }
        caption{
            top:-8px;
        }
        tr > td{
           padding: 30px; 
           
        }

    }

