@charset "UTF-8";
BODY{
	font-size: 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}

TD{
	font-size: 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}

SELECT {
	font-size: 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
	
}

DIV{
	font-size: 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}
FORM{
	font-size: 9pt;
	color: black;
	line-height: 160%;
	font-family: 굴림, verdana, tahoma;
}
TEXTRAREA{
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	font-size: 9pt;
	color: balck;
	border-bottom: 1px solid #999999;
	font-family: 굴림, verdana, tahoma;
	background-color: white;
}
INPUT{
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	font-size: 9pt;
	color: balck;
	border-bottom: 1px solid #999999;
	font-family: 굴림, verdana, tahoma;
	background-color: white;
}
A:link{text-decoration: none;color:#696969;}
A:hover{text-decoration: yes;color:#66CCFF;}
A:visited{text-decoration: none;color:#330066;}